:root {
    --main-color: #0053ba;
    --light-color: #F5F5F5;
    --dark-color: #424242;
    --dark-accent-color: #616161;
    --accent-color: #616161;
    --main-font: 'Open Sans', sans-serif;
    --font-small: 1em;
    --font-medium: 1.125em;
    --font-large: 1.424em;
    --font-larger: 1.602em
}

body {
    font-size: 16px;
    font-family: var(--main-font);
    margin: 0 auto;
    line-height: 1.5;
}

p {
    margin: 0;
}

.dark {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.light {
    color: var(--dark-color);
    background-color: var(--light-color);
}

.readability {
    max-width: 700px;
}


.banner a {
    color: var(--light-color);
}

h1 {
    padding: 0 0 1em 0;
    margin: 0;
    font-size: var(--font-larger);
    color: var(--light-color);
}

h2 {
    padding: 0.618em 0;
    margin: 0;
    font-size: var(--font-large);
}

input {
    border: 1px solid;
}

textarea {
    resize: none;
    height: 10em;
    border: 1px solid;
}

button,
input[type=submit] {
    color: var(--light-color);
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: var(--main-color);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-transition: background 250ms ease-in-out,
        -webkit-transform 150ms ease;
    transition: background 250ms ease-in-out,
        -webkit-transform 150ms ease;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    transition: background 250ms ease-in-out,
        transform 150ms ease,
        -webkit-transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: uppercase;
    font-weight: 700;
}

button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
    background: var(--accent-color);
}

button:focus,
input[type=submit]:focus {
    border-radius: 5px;
}

button:active,
input[type=submit]:active {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
}

form {
    margin: 1em;
}

img {
    margin: 0 1em;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

button:hover,
input[type=submit]:hover {
    color: var(--light-color);
}

.hidden {
    display: none;
}

.main-nav #pages {
    display: none;
}

.main-nav {
    position: relative;
}

.nav-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: calc(0.9em);
    text-decoration: none;
    font-size: var(--font-medium);

}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;

    text-align: center;
}

.main-nav ul .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.logo {

    display: block;
    font-size: var(--font-medium);
}

.dropdown li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark-color);
    ;
}

.dropdown a {
    display: inline-block;
    width: 100%;
    padding: 1em 0;
    margin: 0;
    overflow: hidden;
}


.main-nav a {
    text-decoration: none;
    color: var(--light-color);
    font-weight: 600;
}

.main-nav a:hover,
.nav-icon:hover {
    background-color: var(--dark-accent-color);
}

.banner {
    min-width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.9)), to(rgba(66, 66, 66, 0.9))), url(/img/image.jpg);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.9), rgba(66, 66, 66, 0.9)), url(/img/image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

label {
    font-size: 1em;
    font-weight: 700;
}

.wrapper,
.content {
    padding: 0 2em 2em 2em;
    margin: auto;
    max-width: 960px;
}

.content a {
    color: var(--dark-accent-color)
}

.top-wrapper {
    position: relative;
    height: overflow: hidden;
    padding: 1em;
}


blockquote {
    margin: 0;
    padding: 0;
}

.bottom {
    text-align: center;
}

.centered {
    text-align: center;
}

.footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    display: inline-block;
}

.footer ul {
    display: inline-block;
}

.footer a {
    color: var(--light-color)
}

.boring {
    width: 100%;

    list-style-type: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 3em;
    padding: 0;
}

.social a {
    text-decoration: none;
}

.platform {
    text-decoration: underline;
}

.social {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.social ul {
    margin: 0;
    padding: 0;
}

.social li {
    margin: 0;
}

.social a {
    display: block;
}

.contact * {
    display: block;
    width: 100%;
    max-width: 36em;
    font-family: var(--main-font);
}

textarea,
input {
    font-size: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.624em;
    margin-bottom: 0.624em;
}
